
@{
    ViewBag.Title = "RegistrarListaCategoriaProductoServicio";
}

<h2>RegistrarListaCategoriaProductoServicio</h2>

<div class="container" style="max-width:640px">
    <div class="master">
        <h4>Categoria Cabecera</h4>
        <table>
            <tr>
                <td>Nombre Categoria</td>
                <td>
                    <input type="text" id="CateNombre" />
                    <span class="error">Categoria nombre requerido</span>
                </td>
            </tr>
        </table>
    </div>
    <div class="details">
        <h4>Producto Detalle</h4>
        <table width="100%">
            <tr>
                <td>Nombre Producto</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>
                    <input type="text" id="ProdNombre" />
                    <span class="error">Producto nombre requerido</span>
                </td>
                <td>
                    <input type="button" id="add" value="add" />
                </td>
            </tr>
        </table>
        <div id="ProductoDetalle" class="tablecontainer">
        </div>
        <div style="padding:10px 0px; text-align:right">
            <input id="submit" type="button" value="Save" style="padding:10px 20px" />
        </div>
    </div>
</div>

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
@section Scripts{
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script>
        $(function () {
            $('#orderDate').datepicker({
                dateFormat : 'mm-dd-yy'
            });
        });

        $(document).ready(function () {
            var ProductosItems = [];
            $('#add').click(function () {
                var isValidItem = true;
                if ($('#ProdNombre').val().trim() == '') {
                    isValidItem = false;
                    $('#ProdNombre').siblings('span.error').css('visibility', 'visible');
                }
                else {
                    $('#ProdNombre').siblings('span.error').css('visibility', 'hidden');
                }

                if (isValidItem) {
                    ProductosItems.push({
                        Nombre_Producto: $('#ProdNombre').val().trim()
                    });
                    $('#ProdNombre').val('').focus();

                }
                GeneratedItemsTable();

            });

            $('#submit').click(function () {
                var isAllValid = true;
                if (ProductosItems.length == 0) {
                    $('#ProductoDetalle').html('<span style="color:red;">Agregar producto</span>');
                    isAllValid = false;
                }

                if ($('#CateNombre').val().trim() == '') {
                    $('#CateNombre').siblings('span.error').css('visibility', 'visible');
                    isAllValid = false;
                }
                else {
                    $('#CateNombre').siblings('span.error').css('visibility', 'hidden');
                }

                if (isAllValid) {
                    var data = {
                        Nombre_Categoria: $('#CateNombre').val().trim(),
                        DetalleProducto: ProductosItems
                    }

                    $(this).val('Procesando...');

                    $.ajax({
                        url: '/Transacciones/RegistrarListaCategoriaProductoServicio',
                        type: "POST",
                        data: JSON.stringify(data),
                        dataType: "JSON",
                        contentType: "application/json",
                        success: function (d) {
                            if (d.status == true) {
                                alert('Registro correcto.');
                                ProductosItems = [];
                                $('#ProdNombre').val('');
                                $("#tableproducto tr").remove();
                            }
                            else {
                                alert('Failed');
                            }
                            $('#submit').val('Save');
                        },
                        error: function () {
                            alert('Error. Intentar de nuevo.');
                            $('#submit').val('Save');
                        }
                    });
                }

            });
            function GeneratedItemsTable() {
                if (ProductosItems.length > 0)
                {
                    var $table = $('<table id = "tableproducto"/>');
                    $table.append('<thead><tr><th>Nombre Producto</th><th></th></tr></thead>');
                    var $tbody = $('<tbody/>');
                    $.each(ProductosItems, function (i, val) {
                        var $row = $('<tr/>');
                        $row.append($('<td/>').html(val.Nombre_Producto));
                        var $remove = $('<a href="#">Remove</a>');
                        $remove.click(function (e) {
                            e.preventDefault();
                            ProductosItems.splice(i, 1);
                            GeneratedItemsTable();
                        });
                        $row.append($('<td/>').html($remove));
                        $tbody.append($row);
                    });
                    console.log("current", ProductosItems);
                    $table.append($tbody);
                    $('#ProductoDetalle').html($table);
                }
                else {
                    $('#ProductoDetalle').html('');
                }
            }
        });

    </script>
}

<style>
    /*Adding some css for looks good*/
    span.error {
        display: block;
        visibility: hidden;
        color: red;
        font-size: 90%;
    }


    /*css for table*/
    .container td {
        vertical-align: top;
    }

    .tablecontainer table {
        width: 100%;
        border-collapse: collapse;
        border-top: 1px solid #BFAEAE;
        border-right: 1px solid #BFAEAE;
    }

    .tablecontainer th {
        border-bottom: 2px solid #BFAEAE !important;
    }

    .tablecontainer th, .tablecontainer td {
        text-align: left;
        border-left: 1px solid #BFAEAE;
        padding: 5px;
        border-bottom: 1px solid #BFAEAE;
    }

    .ui-widget {
        font-size: 12px !important;
    }
</style>
